.card {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
}

.bottleIcon {
  fill: #9be1a0;
  width: 44px;
  height: 45px;
}

.textBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  min-width: 50px;
}

.ml {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #323f47;
  white-space: nowrap;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(47, 47, 47, 0.6);
}


.btnBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.button {
  height: 14px;
  padding: 0;
}

.btnIcon {
  width: 14px;
  height: 14px;
  stroke: #323f47;
  fill: none;
}

@media screen and (max-width: 767px) {
  .card {
    gap: 10px;
    padding: 18px 14px;
  }
  
  .card:not(:last-child) {
    margin-right: 8px;
  }
   
  .bottleIcon {
    width: 38px;
    height: 38px;
  }

}


@media screen and (min-width: 768px) {
  .card:not(:last-child) {
    margin-right: 32px;
  }

  .button {
    height: 16px;
  }

  .btnIcon {
    width: 16px;
    height: 16px;
  }

  .textBox {
    width: 52px;
    gap: 0px;
  }

  .time {
    line-height: 1.9;
  }

  .bottleIcon {
    width: 44px;
    height: 45px;
  }

  .ml {
    font-size: 15px;
    line-height: 1.5;
  }
}


@media screen and (min-width: 1440px) {
  .card:not(:last-child) {
    margin-right: 16px;
  }

  .bottleIcon {
    width: 44px;
    height: 45px;
  }
}