.logoutModal {
  max-width: 344px;
  text-align: center;
  border-radius: 15px;
  color: #323f47;
}

.title {
  color: #323f47;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 24px;
  align-items: center;
  text-transform: initial;
}

.text {
  color: #323f47;
  margin: 16px 10px 28px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.btn {
  width: 304px;
  padding: 14px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #323f47;
  text-transform: initial;
}

.logoutBtn {
  background-color: #9be1a0;
}

.cancelBtn {
  opacity: 30%;
  background-color: #f0eff4;
}

.btnDisabled {
  pointer-events: none;
  cursor: not-allowed;
  background: #e6e6e6;
}

.btnBlock {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 374px) {
  .btnBlock {
    flex-direction: column;
  }

  .logoutBtn {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  .logoutModal {
    padding: 40px 17px;
    max-width: 100%;
  }
  
  .cancelBtn {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }

  .btn {
    padding: 18px 57px;
    width: 176px;
  }

  .text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .logoutModal {
    max-width: 516px;
    margin-right: 42px;
    margin-left: 42px;
  }
}
