.WaterDetailedInfoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0eff4;
  border-radius: 30px;
  padding: 16px;
}

.TodayWaterInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 375px) {
  .WaterDetailedInfoWrapper {
    width: 343px;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 768px) {
  .WaterDetailedInfoWrapper {
    width: 704px;
    height: 738px;
    padding: 40px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .WaterDetailedInfoWrapper {
    width: 672px;
    height: 736px;
  }
}
