.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0;
}

.wrapper.waterMain {
  height: 60px;
  border-radius: 30px;
  background-color: #323f47;
  padding: 18px 30px;
}

.wrapper.waterMain:hover .plusIcon.waterMain {
  fill: #9be1a0;
}

.wrapper.waterMain:hover .text.waterMain {
  color: #9be1a0;
}

.wrapper.daily:hover .plusIcon.daily {
  background-color: #323f47;
  fill: #ffffff;
}

.plusIcon {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
}

.plusIcon.waterMain {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 16px;
}

.plusIcon.daily {
  box-sizing: content-box;
  padding: 8px;
  border-radius: 30px;
  background-color: #9be1a0;
  fill: #323f47;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: initial;

}

.text.waterMain {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: initial;
}

.btnDisabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

@media only screen and (max-width: 767px) {
  .wrapper.waterMain {
    height: 46px;
    gap: 8px;
    padding: 14px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .text.waterMain {
    font-size: 16px;
    line-height: 1.5;
  }

  .plusIcon.waterMain {
    width: 24px;
    height: 24px;
  }
  .wrapper.waterMain {
    gap: 7px;
  }
  .text.daily {
    font-size: 16px;
    line-height: 1.5;
    color: #323f47;
  }
}
