.deleteModal {
  max-width: 344px;
  text-align: center;
}

.title {
  color: #323f47;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 24px;
  align-items: center;
  text-transform: initial;
}

.text {
  color: #323f47;
  margin: 16px 0 28px ;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.buttonDelWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}

.btn {
  width: 304px;
  padding: 14px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #323f47;
  text-transform: initial;
}

.deleteBtn {
  background-color: #9be1a0;
}

/* .deleteBtn:hover,
.deleteBtn:focus {
  background-color: #87d28d;
} */

.cancelBtn {
  opacity: 30%;
  background-color: #f0eff4;
}

.cancelBtn:hover,
.cancelBtn:focus {
  opacity: 100%;
  background-color: #f0eff4;
  color: #323f47;
}

.btnDisabled {
  pointer-events: none;
  cursor: not-allowed;
  background: #e6e6e6;
}

@media screen and (min-width: 768px) {
  .deleteModal {
    max-width: 436px;
    text-align: center;
  }

  .title {
    color: #323f47;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }

  .text {
    width: 436px;
    color: #323f47;
    margin: 24px 0 24px 0;
    font-size: 18px;
    line-height: 133%;
  }

  .buttonDelWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .btn {
    max-width: 170px;
    padding: 18px 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #323f47;
    height: 60px;
  }

  .deleteBtn {
    background-color: #9be1a0;
  }

  .cancelBtn {
    opacity: 30%;
    background-color: #f0eff4;
  }
}
@media screen and (max-width: 374px) {
  .deleteBtn {
    margin-right: 0;
    width: 100%;
  }

  /* .deleteBtn:hover,
  .deleteBtn:focus {
    background-color: #87d28d;
  } */

  .deleteModal {
    padding: 40px 17px;
    max-width: 100%;
  }

  .cancelBtn {
    width: 100%;
  }

  .cancelBtn:hover,
  .cancelBtn:focus {
  opacity: 100%;
  background-color: #f0eff4;
  color: #323f47;
  }

  .btnDisabled {
  pointer-events: none;
  cursor: not-allowed;
  background: #e6e6e6;
 }
}
