.deleteModal {
    max-width: 516px;
    text-align: center;
    padding: 40px;
    border-radius: 15px;
    color: #323F47;
}

.title {
    font-weight: bold;
    font-size: 28;
}

.text {
    margin: 24px 0 24px 0;
    font-size: 18px;
}

.btn {
    min-width: 170px;
    padding: 18px 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.deleteBtn {
    background-color: #9BE1A0;
}

.cancelBtn {
    opacity: 30%;
    background-color: #F0EFF4;
}

.btnDisabled {
    pointer-events: none;
    cursor: not-allowed;
    background: #e6e6e6;
}

.btnBlock {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 450px) {
    .btnBlock {
        flex-direction: column;
    }

    .logoutModal {
        padding: 40px 17px;
    }
}