.signUpPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.formWrapper {
  flex: 1;
}

.advantagesWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 736px;
}

@media (max-width: 375px) {
  .signUpPage {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .signUpPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }
  .advantagesWrapper {
    display: none;
  }
}

@media (max-width: 1439px) {
  .signUpPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }
  .advantagesWrapper {
    display: none;
  }
}
