.welcomeSectionWrapper {
  width: 100%;
  height: 226px;
  margin-bottom: 51px;
}

.welcomeSection {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: start;
  padding: 24px 16px;
  background-color: #f0eff4;
  border-radius: 30px;
  width: 100%;
  height: 411px;
  position: relative;
}

.welcomeSubtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.welcomeTitle {
  font-size: 38px;
  font-weight: 700;
  color: #323f47;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: initial;
}

.welcomeButtons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 32px;
}

.tryTrackerButton {
  background-color: #9be1a0;
  color: #323f47;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: initial;
  padding: 14px 19px;
  transition: 0.3s;
}

.tryTrackerButton:hover {
  background-color: #87d28d;
}

.signInButton {
  background-color: transparent;
  color: #323f47;
  border: 1px solid #323f47;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  padding: 14px 28px;
  transition: 0.3s;
}

.signInButton:hover {
  color: #87d28d;
  border: 1px solid #87d28d;
}

@media screen and (min-width: 375px) {
  .welcomeSectionWrapper {
    width: 311px;
    height: 226px;
    margin-bottom: 51px;
  }

  .welcomeSection {
    width: 343px;
    height: 411px;
  }
}

@media screen and (min-width: 768px) {
  .welcomeSectionWrapper {
    width: 547px;
    height: 342px;
    margin-bottom: 18px;
  }

  .welcomeSection {
    align-items: flex-end;
    width: 704px;
    height: 498px;
    padding: 32px 32px;
  }

  .welcomeSubtitle {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 150%;
  }

  .welcomeTitle {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 109%;
  }

  .welcomeButtons {
    margin-bottom: 18px;
    gap: 16px;
    justify-content: flex-start;
  }

  .tryTrackerButton {
    font-size: 16px;
    line-height: 150%;
    padding: 18px 40px;
  }

  .signInButton {
    font-size: 16px;
    line-height: 150%;
    padding: 8px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeSectionWrapper {
    width: 547px;
    height: 360px;
  }

  .welcomeSection {
    align-items: center;
    width: 672px;
    height: 736px;
    padding: 32px;
  }

  .welcomeTitle {
    font-size: 80px;
    line-height: 76px;
    letter-spacing: -1.6px;
    margin-bottom: 32px;
  }

  .welcomeButtons {
    margin: 0;
  }

  .signInButton {
    padding: 18px 40px;
  }
}
