.advantagesSection {
  position: relative;
  text-align: start;
  padding: 16px;
  color: white;
  background-image: image-set(
    url("/src/img/adventages-section/mobile-adventage-background.webp") 1x,
    url("/src/img/adventages-section/mobile-adventage-background_2x.webp") 2x
  );
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  width: 100%;
  height: 353px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.advantagesContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 8px;
}

.advantagesCaption {
  width: 160px;
  height: 48px;
  position: absolute;
  left: 0;
  bottom: 80px;
  padding: 10px 14px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #323f47;
  background-color: #ffffff;
  line-height: 117%;
}

.advantagesCaptionSpan {
  color: #9be1a0;
}

@media screen and (min-width: 768px) {
  .advantagesSection {
    height: 446px;
    padding: 32px;
    background-image: image-set(
      url("/src/img/adventages-section/tablet-adventage-background.webp") 1x,
      url("/src/img/adventages-section/tablet-adventage-background_2x.webp") 2x
    );
  }

  .advantagesContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .advantagesCaption {
    width: 237px;
    height: 67px;
    font-size: 15px;
    line-height: 149%;
    left: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .advantagesSection {
    width: 672px;
    height: 736px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: image-set(
      url("/src/img/adventages-section/desktop-adventage-background.webp") 1x,
      url("/src/img/adventages-section/desktop-adventage-background_2x.webp") 2x
    );
  }

  .advantagesCaption {
    bottom: 116px;
    font-size: 15px;
    line-height: 149%;
  }
}
