.advantagesSection {
    position: relative;
    text-align: start;
    padding: 16px;
    color: white;
    background-image: image-set(
        url('/src/img/adventages-section/mobile-adventage-background.webp') 1x,
        url('/src/img/adventages-section/mobile-adventage-background_2x.webp') 2x
    );
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.advantagesContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.advantagesCaption {
    margin-top: 193px;
    padding: 10px 14px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #323F47;
    background-color: #FFFFFF;
    line-height: 1.2;
}

.advantagesCaptionSpan {
    color: #9be1a0;
}

@media screen and (min-width: 768px) {
    .advantagesSection {
        padding: 40px 60px;
        background-image: image-set(
            url('/src/img/adventages-section/tablet-adventage-background.webp') 1x,
            url('/src/img/adventages-section/tablet-adventage-background_2x.webp') 2x
        );
    }

    .advantagesContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .advantagesCaption {
        font-size: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .advantagesSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
        background-image: image-set(
            url('/src/img/adventages-section/desktop-adventage-background.webp') 1x,
            url('/src/img/adventages-section/desktop-adventage-background_2x.webp') 2x
        );
    }

    .advantagesContent {
        max-width: 50%;
    }

    .advantagesCaption {
        font-size: 24px;
    }
}