.container {
  box-sizing: border-box;
  height: 80vh;
  /* width: 303px; */
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 303px;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 28px;
  }

  .container {
    width: 648px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 840px;
  }
}
