.advantagesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.advantagesItem {
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.withDot::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #9be1a0; 
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; 
}

.withDot {
    background-color: #333; 
    color: white;
}

@media screen and (min-width: 768px) {
    .advantagesList {
        flex-direction: row; 
        gap: 20px;
    }

    .advantagesItem {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .advantagesList {
        gap: 30px;
    }

    .advantagesItem {
        font-size: 20px;
    }
}
