.advantagesList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    list-style: none;
    padding: 0;
    margin-left: 143px;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(50% - 4px); 
}

.advantageItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #323F47;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: -0.01em;
    font-weight: 700;
    padding: 9px 12px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.advantageItem:nth-child(1) {
    background-color: #323F47;
    color: white;
    position: relative;
}

.advantageItem:nth-child(1)::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #9be1a0;
    border-radius: 50%;
    transform: translateY(-50%);
}

.advantageItem:nth-child(2) {
    background-color: #9be1a0;
    color: #323F47;
}

.advantageItem:nth-child(3) {
    background-color: white;
}


@media screen and (min-width: 768px) {
    .advantagesList {
        flex-direction: row; 
        gap: 20px;
    }

    .advantagesItem {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .advantagesList {
        gap: 30px;
    }

    .advantagesItem {
        font-size: 20px;
    }
}
