.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 672px;
  height: 736px;
  background: #f0eff4;
  padding: 130px 118px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 436px;
  height: 506px;
  margin: 0 auto;
}

.logoWrapper {
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: 32px;
}

.button {
  border-radius: 30px;
  padding: 18px 0;
  width: 436px;
  height: 60px;
  background: #9be1a0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #323f47;
  display: block;
  margin: 0 auto 16px;
  box-shadow: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background: #87d28d;
}

.button:disabled {
  background: #e6e6e6;
  cursor: not-allowed;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.05556;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
  text-align: left;
}

.error {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #ef5050;
}

.field {
  margin-bottom: 20px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 16px 16px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.fieldError {
  border-color: #ef5050;
}
.field::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}
.passwordWrapper{
   position: relative;
  display: flex;
  align-items: center; 
}

.iconButton{
position: absolute;
  right: 8px;
  top: 50%; 
  transform: translateY(-50%); 
  background: none; 
  border: none; 
  cursor: pointer; 
}
.icon {
 width: 20px;
  height: 20px;
  fill:none;
  stroke: currentColor;
}

.signuptext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.signinlink{
    font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}

.inputLabel {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  display: block;
  margin-bottom: 8px;
  text-align: left;
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .formContainer {
  width: 704px;
  height: 960px;
  padding: 227px 134px;
}

}







@media (max-width: 767px) {
    .formContainer {
  width: 343px;
  height: 780px;
  padding: 170px 16px;
}
.form {
  gap: 16px;
  width: 311px;
  height: 440px;
}
.logoWrapper {
  position: absolute;
  top: 24px;
  left: 16px;
}

.button {
  padding: 16px 0;
width: 311px;
height: 50px;
font-size: 14px;
  line-height: 1.3;
}
.title {
font-size: 32px;
  line-height: 1;
}
.error {
  line-height: 1;
}
.field {
  margin-bottom: 16px;
  width: 311px;
  height: 50px;
}

.field::placeholder {
font-size: 14px;
  line-height: 1.3;
}
.icon {
  display: none
}
.signuptext {
font-size: 14px;
  line-height: 1.3;
}
.signinlink{
font-size: 14px;
  line-height: 1.3;
}

.inputLabel {
  font-size: 14px;
  line-height: 1.3;

}
}