.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.container {
  background-color: #F0EFF4;
}

@media screen and (max-width: 375px) {
  .container {
    min-width: 343px;
  }
  
  .wrapper {
    width: 303px;
  }
}

@media screen and (max-width: 768px) and (min-width: 376px) {
  .container {
    min-width: 704px;
  }
  
  .wrapper {
    width: 640px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    min-width: 672px;
  }
  
  .wrapper {
    width: 672px;
  }
}
