.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container {
  }

  .wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 640px;
  }

  .wrapper {
    width: 640px;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 608px;
  }

  .wrapper {
    width: 608px;
  }
}
