.modalWrapper {
  position: relative;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  width: 344px;
  height: fit-content;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;

  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  margin: auto;
}

.btnClose {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}

.btnClose:hover {
  transform: scale(1.1);
}

.btnClose svg {
  width: 24px;
  height: 24px;
  stroke: #2f2f2f;
}

@media screen and (max-width: 374px) {
  .modalWrapper {
    width: calc(100% - 32px);
  }
}

@media screen and (min-width: 768px) {
  .modalWrapper {
    padding: 40px;
    width: fit-content;
  }
}
