.formContainer {
  border-radius: 30px;
  width: 672px;
  height: 736px;
  background: #f0eff4;
  padding: 169px 118px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 436px;
  height: 398px;
  margin: 0 auto;
}

.button {
  border-radius: 30px;
  padding: 18px 0;
  width: 436px;
  height: 60px;
  background: #9be1a0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #323f47;
  display: block;
  margin: 0 auto 16px;
  box-shadow: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background: #87d28d;
}

.button:disabled {
  background: #e6e6e6;
  cursor: not-allowed;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.05556;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
  text-align: left;
}

.error {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #ef5050;
}
.field {
  margin-bottom: 20px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 16px 16px;
  width: 436px;
  height: 56px;
  box-sizing: border-box;
  position: relative;
}
.fieldError {
  border-color: #ef5050;
}
.field::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.signuptext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.signuplink {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}
.inputLabel {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
