.formWrapper {
  width: 343px;
  height: 780px;
}

.formContainer {
  border-radius: 30px;
  background: #f0eff4;
  padding: 169px 118px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 436px;
  height: 398px;
  margin: 0 auto;
}

.logoWrapper {
  position: absolute;
  top: 32px;
  left: 32px;
}

.signInFormBtnWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.signInFormBtnWrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-transform: initial;
  width: 100%;
}

.button {
  border-radius: 30px;
  padding: 18px 0;
  width: 436px;
  height: 60px;
  background: #9be1a0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #323f47;
  display: block;
  margin: 0 auto 16px;
  box-shadow: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background: #87d28d;
}

.button:disabled {
  background: #e6e6e6;
  cursor: not-allowed;
}
.button img {
  width: 30px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.05556;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
  text-align: left;
}

.error {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #ef5050;
  margin-top: 10px;
}
.field {
  margin-bottom: 10px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 16px 16px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.fieldError {
  border-color: #ef5050;
}
.field::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  position: absolute;
  right: 8px;
  margin-bottom: 18px;
  background: none;
  border: none;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
}
.signuptext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  text-align: center;
}

.signuplink {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}
.inputLabel {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .formWrapper {
    width: 672px;
    height: 736px;
  }

  .signInFormBtnWrap button:first-child {
    width: calc(45% - 20px);
  }

  .signInFormBtnWrap button {
    width: calc(55% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .formWrapper {
    width: 704px;
    height: 960px;
  }

  .formContainer {
    padding: 227px 134px;
  }

  .form {
    width: 436px;
    height: 348px;
  }
  .button {
    padding: 18px 0;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .signInFormBtnWrap button {
    width: calc(50% - 20px);
    gap: 0;
  }
}
@media (max-width: 767px) {
  .formContainer {
    width: 343px;
    height: 780px;
    padding: 216px 16px;
  }
  .form {
    width: 311px;
    height: 348px;
    gap: 16px;
  }
  .logoWrapper {
    position: absolute;
    top: 24px;
    left: 16px;
  }
  .button {
    width: 311px;
    height: 50px;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
  }
  .title {
    font-size: 32px;
    line-height: 1;
  }
  .signuptext {
    font-size: 14px;
    line-height: 1.28571;
  }
  .inputLabel {
    font-size: 14px;
    line-height: 1.28571;
  }

  /*   .icon {
    display: none;
  } */
}
