/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

/* poppins-bold - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color:#9BE1A0;
  --font-color:#323F47;
  --border-color: #2F2F2F;
  --background-color:#F0EFF4;
  --second-background-color:#FFFFFF;
  --mobile-font-size:14px;
  --border-radius: 30px
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: var(--mobile-font-size);
  color: var(--font-color);
  text-transform: capitalize;

}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-size: var(--mobile-font-size);
  color: var(--font-color);
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 14px 19px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
  border-radius: var(--border-radius);

}

div{
  border-radius: var(--border-radius);

}

/* media for tablets */

@media screen and (min-width: 768px) {
  
}

/* media for desktop */

@media screen and (min-width: 1440px) {
  .homePage {
      flex-direction: row; 
      row-gap: 32px; 
  }

}