/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

/* poppins-bold - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /*Прибирає синій фон з елементів при натисканні на мобілці*/
}

body {
  margin: 0;
}

:root {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  /* line-height: 0.7; */
  font-weight: 400;
  --main-color: #9be1a0;
  --hover-green-color: #87d28d;
  --font-color: #323f47;
  --font-color-transparent: rgba(50, 63, 71, 0.3);
  --border-color: #2f2f2f;
  --background-color: #f0eff4;
  --second-background-color: #ffffff;
  --mobile-font-size: 14px;
  --border-radius: 30px;
  --custom-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --dis-active-color: #bcbcbc;
  --error: #ef5050;
  --not-completed-days-background-color: #323f4733;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: var(--mobile-font-size);
  color: var(--font-color);
/*   text-transform: capitalize; */
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 38px;
  line-height: 1;
}

h2 {
  font-size: 32px;
  line-height: 1;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 16px;
  line-height: 0.8;
}

p {
  font-size: 14px;
  /* line-height: 0.7; */
}

body {
  margin: 0;
}

/* mainContainer */

.pageContentWrapper {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

/* button */

button {
  font-size: var(--mobile-font-size);
  color: var(--font-color);
  border-radius: var(--border-radius);
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  border: none;
  padding: 14px 19px;
}

/* button.green */

button.green {
  background-color: var(--main-color);
  transition: background-color var(--custom-transition),
    color var(--custom-transition);
}

button.green:hover,
button.green:focus {
  background-color: var(--hover-green-color);
}

button.green:active {
  background-color: transparent;
  color: var(--dis-active-color);
}

/* button.transparent */

button.transparent {
  background-color: transparent;
  border: var(--border-color) 1px solid;
  transition: border-color var(--custom-transition),
    color var(--custom-transition);
}

button.transparent:hover,
button.transparent:focus {
  border-color: var(--hover-green-color);
  color: var(--hover-green-color);
}

button.transparent:active {
  border-color: var(--dis-active-color);
  color: var(--dis-active-color);
}

/* button.addWater */

button.addWater {
  background-color: var(--font-color);
  color: var(--second-background-color);
  transition: color var(--custom-transition);
}

button.addWater:hover,
button.addWater:focus {
  color: var(--main-color);
}

/* button.cancel */

button.cancel {
  background-color: var(--background-color);
  color: var(--font-color-transparent);
  transition: color var(--custom-transition);
}

button.cancel:hover,
button.cancel:focus {
  color: var(--font-color);
}

/* button.logOut */

button.logOut {
  background-color: transparent;
  color: var(--font-color-transparent);
  transition: color var(--custom-transition);
}

button.logOut:hover,
button.logOut:focus {
  color: var(--font-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* input */

input {
  font-family: inherit;
  font-size: 16px;
  padding: 16px;
  color: rgba(47, 47, 47, 0.6);
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  outline: none;
  transition: color var(--custom-transition), border var(--custom-transition);
}

input:focus,
input:hover {
  color: var(--border-color);
}

input:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

input.error {
  border: var(--error) 1px solid;
  color: var(--error);
}

/* media for tablets */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 0.9;
  }

  h2 {
    font-size: 36px;
    line-height: 0.9;
  }

  h3 {
    font-size: 28px;
    line-height: 0.8;
  }

  h4 {
    font-size: 18px;
    line-height: 0.7;
  }

  p {
    font-size: 16px;
    /* line-height: 0.6; */
  }

  /* main container */

  .pageContentWrapper {
    padding: 32px;
  }
}

/* media for desktop */

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 80px;
    line-height: 1.05;
  }

  h2 {
  }

  h3 {
    line-height: 0.9;
  }

  h4 {
    font-size: 18px;
    /* line-height: 0.7; */
  }

  .pageContentWrapper {
    height: 100vh;
    flex-direction: row;
    gap: 32px;
  }
}
