.item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border-radius: 50%;
  color: var(--font-color);

  font-weight: 700;
}

@media screen and (max-width:767px){
  .item{
    width: 7vw;
    height: 2.5vh;

    font-size: 12px;
  }
}

@media screen and (min-width:768px){
  .item{
    width: 38px;
    height: 38px;

    font-size: 14px;
  }
}


.notCompleted {
  background-color: var(--not-completed-days-background-color);
}

.completed {
  background-color: white;
}
.currentDay {
  background-color: var(--font-color);
  color: var(--main-color);
}

.pickedDay {
  border: 3px solid var(--main-color);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.percentage {
  color: var(--percentage-color);
  font-size: 12px;
}

@media screen and (max-width:335px){
  .percentage {
    display:none;
  }
}
