.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width:38px;
    height:38px;

    border-radius: 50%;
    color: var(--font-color);

    font-weight: 700;
}

.notCompleted {
    background-color: var(--not-completed-days-background-color);
}

.currentDay {
    background-color: var(--font-color);
    color: var(--main-color);
}

.pickedDay {
    border:1px solid var(--main-color);
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.percentage {
    color: var(--percentage-color);
    font-size: 12px;
}